
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<h1>Модельный ряд</h1>
<ul>

  <li *ngFor="let car of cars
   let even = even
   let odd = odd"[ngClass]="{even:even,odd:odd}"> {{car.nameCar}}<br><br>
   <img src= {{car.carImg}}>
    <br>
    <button  (click)="myEvent($event)" class="btn"><span>Купить</span></button>
    <hr/>

  </li>


</ul>



</body>
</html>
