
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

  <h1>Модельный ряд</h1>
  <div class="carA">
    <h4>A- Class hatchback</h4>
    <img src="https://mbbelarus.by/upload/resize_cache/iblock/fc1/438_274_1/x6sgw9cdv0jockx926yza3oycb2a1auik.png.pagespeed.ic.UUoE9bo_Da.webp">
    <div class="carB">
      <h4>GLB</h4>
      <img src="https://mbbelarus.by/upload/resize_cache/iblock/6d9/438_274_1/xgeiumejybi9ex8l4vpqmdlcfyhzqf27d.png.pagespeed.ic.J-ayuKcGUG.webp">
    </div>
  </div>


</body>
</html>
