

body {
  background: url(https://s1.1zoom.ru/big0/669/Mercedes-Benz_Maybach_Vision_6_Front_Wine_color_528959_1280x675.jpg)
}
h1{
  color: #cccccc;
  text-align: center;
}


.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
