<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

<mat-toolbar>Контакты</mat-toolbar>
<img
  src="https://www.mercedes-benz.by/content/dam/cee/retailer/retail-belarus/belarus/about%20us/contacts/energy-715-230.jpg.asset.VqOgDrkoFBFuiemR7RKBvMLD2mXnEEqiXOOw33Z-tRk.jpg">
<h2>Автомобильный дом «Энергия ГмбХ»</h2>
г. Минск, ул. Тимирязева, 68
Запись на легковой сервис:
<ul>
  <li>
    <p> Тел: +375 29 309 9955</li>
  <li>Viber (только сообщения) +375 29 603 9999</li>
</ul>
</body>
</html>
